<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>사원상세</title>
</head>
<body>
    <h1>사원 상세</h1>
    <p>
        id:<span th:text="${emp.id}"></span>
    </p>
    <p>
        firstName: <span th:text="${emp.firstName}"></span>
    </p>
    <p>
        lastName: <span th:text="${emp.lastName}"></span>
    </p>
    <p>
        birthDate: <span th:text="${emp.birthDate}"></span>
    </p>
    <p>
        hireDate: <span th:text="${emp.hireDate}"></span>
    </p>
    <p>
        gender: <span th:text="${emp.gender}"></span>
    </p>
<!--    <p th:text="${emp.deptEmps}"></p>-->
    <hr>
    <style>
        .disabled{display: none;}
    </style>
    <div>
        <h2>부서이동내역
            <button id="loadDeptBtn">불러오기</button>
            <button id="showDeptRegisterBtn">부서 등록 폼 보기</button>
        </h2>
        <hr>
        <h3>부서 등록 폼</h3>
        <form id="deptRegister" class="disabled" action="/dept/register.do" method="post">
            <p><label>사원번호<input name="empNo" th:value="${emp.id}" type="text" readonly></label></p>
            <p><label>부서번호<input name="deptNo" value="d00" type="text"></label></p>
            <p><label>from-date<input name="fromDate" value="2024-01-01" type="date"></label></p>
            <p><label>to-date<input name="toDate" value="2025-01-01" type="date"></label></p>
            <p><button type="reset">초기화</button>  <button type="submit">등록</button></p>
        </form>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>사원 id</th>
                        <th>부서 번호</th>
                        <th>부서 이름</th>
                        <th>from date</th>
                        <th>to date</th>
                        <th>수정</th>
                        <th>삭제</th>
                    </tr>
                </thead>
                <tbody id="deptTbody"></tbody>
            </table>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
    <script>
        const EMP_NO=[[${emp.id}]]
        const loadDeptBtn=document.getElementById("loadDeptBtn");
        const deptTbody=document.getElementById("deptTbody");
        const deptRegister=document.getElementById("deptRegister"); //form
        const showDeptRegisterBtn=document.getElementById("showDeptRegisterBtn");
        const httpStatusMsg={
            200: "성공",
            201: "저장 성공",
            400: "잘못된 요청",
            404: "리소스가 없습니다.",
            409: "이미 리소스가 존재합니다. 저장실패!",
            500: "서버에 문제가 발생했습니다. 다시시도하세요.",
            507: "잘못된 리소스를 참조했습니다. 저장 실패!"
        }


        showDeptRegisterBtn.addEventListener("click",()=>{
            deptRegister.classList.toggle("disabled");
        });

        deptRegister.addEventListener("submit",async (e)=>{
            e.preventDefault(); //서비밋 입벤트 막기
            const formData=new FormData(deptRegister); //FormData  form 의 input 데이터를 한꺼번에 처리
            //Map(key-value) -> [key, value] (entry data) {id:"경민",age:39}=? ["id","경민"] ["age",39]
            // for(let input of formData.entries()){
            //     console.log(input);
            // }
            const formDataObj=Object.fromEntries(formData.entries());
            //Object.fromEntries : entry 데이터로 Object 생성
            console.log(formDataObj);
            console.log(JSON.stringify(formDataObj));
            //body : 요청 정보를 포함하는 해더의 본문
            //headers : 요청 정보에 대한 정보(meta data)
            /*
            * {empNo: '11', deptNo: 'd00', fromDate: '2024-01-01', toDate: '2025-01-01'} :
            * Object 의 리터럴 표기법
            * {"empNo":"11","deptNo":"d00","fromDate":"2024-01-01","toDate":"2025-01-01"} :
            * JSON : Object 문자열 명세 (NaN,함수가 포함되지 않음,key 와 문자열은 ""로 표시)
            */
            const response=await fetch("/dept/deptEmp.do",{
                method:"POST",
                body:JSON.stringify(formDataObj),
                headers :{ "Content-type" : "application/json"},
            });
            if(response.status===201){
                await loadDept();
            }
            alert(httpStatusMsg[response.status]);

        });


        //function loadDept() {}
        const loadDept=async function (){
            //deptEmp
            let url =`/dept/${EMP_NO}/readEmp.do`;
            let response=await fetch(url); //비동기 함수
            let data=await response.json();
            console.log(data);
            let html="";
            for(let deptEmp of data){
                html+=`<tr>
                           <td>${deptEmp.empNo}</td>
                           <td>${deptEmp.deptNo}</td>
                           <td>${deptEmp.dept.deptName}</td>
                           <td>${deptEmp.fromDate}</td>
                           <td>${deptEmp.toDate}</td>
                           <td><button onclick="deptEmpModifyHandler(event,${deptEmp.empNo},'${deptEmp.deptNo}')">수정</button></td>
                           <td><button onclick="deptEmpRemoveHandler(event,${deptEmp.empNo},'${deptEmp.deptNo}')" >삭제</button></td>
                        </tr>`;
            }
            deptTbody.innerHTML=html;

        };
        //loadDeptBtn.onclick=loadDept;
        loadDeptBtn.addEventListener("click",loadDept);
        //1. btn.onclick=deptEmpRemoveHandler; //btn의 클릭을 콜백함수로 바꾸겠다.
        //2. btn.onclick=(event)=>{
        //     deptEmpRemoveHandler(event);
        // }//btn의 클릭을 화살표함수로 바꿀건데 내부적으로 콜백함수를 실행한다.

        const deptEmpRemoveHandler=(e,empNo,deptNo)=>{
            console.log(empNo,deptNo);
        }
        const deptEmpModifyHandler=(e,empNo,deptNo)=>{
            console.log(empNo,deptNo);
        }

    </script>
</body>
</html>