<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>사원상세</title>
</head>
<body>
    <h1>사원 상세</h1>
    <p>
        id:<span th:text="${emp.id}"></span>
    </p>
    <p>
        firstName: <span th:text="${emp.firstName}"></span>
    </p>
    <p>
        lastName: <span th:text="${emp.lastName}"></span>
    </p>
    <p>
        birthDate: <span th:text="${emp.birthDate}"></span>
    </p>
    <p>
        hireDate: <span th:text="${emp.hireDate}"></span>
    </p>
    <p>
        gender: <span th:text="${emp.gender}"></span>
    </p>
<!--    <p th:text="${emp.deptEmps}"></p>-->
    <hr>
    <style>
        .disabled{display: none;}
    </style>
<!--    <div th:text="${emp.deptEmps}"></div>-->
<!--    <hr>-->
<!--    <div th:text="${emp.salaries}"></div>-->
    <h2>급여리스트 불러오기
        <button id="loadSalaryBtn">불러오기</button>
        <button id="showSalaryRegisterForm">등록 폼</button>
    </h2>
    <hr>
    <div id="salaryModifyContainer">

    </div>
    <hr>
    <div>
        <h3>급여 등록 양식</h3>
        <form name="registerSalaryForm">
            <p><label>사원번호<input name="empNo" th:value="${emp.id}" type="text" readonly></label></p>
            <p><label>fromDate<input name="fromDate" value="" type="date"></label></p>
            <p><label>toDate<input name="toDate" value="" type="date"></label></p>
            <p><label>급여<input name="salary" value="" type="number"></label></p>
            <p>
                <button type="reset">초기화</button>
                <button type="submit">등록</button>
            </p>
        </form>
    </div>
    <hr>
    <div id="salaryTableContainer" class="">
        <h3>급여리스트</h3>
        <table>
            <thead>
                <tr>
                    <th>사원번호</th>
                    <th>급여</th>
                    <th>fromDate</th>
                    <th>toDate</th>
                    <th>수정</th>
                    <th>삭제</th>
                </tr>
            </thead>
            <tbody id="salaryTbody"></tbody>
        </table>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
    <hr>
    <script>
        const httpStatusMsg={
            200: "성공",
            201: "저장 성공",
            202: "삭제 성공",
            204: "수정 성공",
            400: "잘못된 요청",
            404: "리소스가 없습니다.",
            409: "이미 리소스가 존재합니다. 저장실패!",
            500: "서버에 문제가 발생했습니다. 다시시도하세요.",
            507: "잘못된 리소스를 참조했습니다. 저장 실패!"
        }

        const NO=[[${emp.id}]];
        const salaryTableContainer = document.getElementById('salaryTableContainer');
        const salaryTbody = document.getElementById('salaryTbody');
        const loadSalaryBtn = document.getElementById('loadSalaryBtn');
        const showSalaryRegisterForm = document.getElementById('showSalaryRegisterForm');
        const salaryModifyContainer = document.getElementById('salaryModifyContainer');
        const registerSalaryForm = document.forms['registerSalaryForm'];

        registerSalaryForm.addEventListener('submit',async function(e){
            e.preventDefault();
            const formData=Object.fromEntries(new FormData(e.target).entries());
            const URL="/salary/action.do";
            const resp=await fetch(URL,{
                method:'POST',
                headers:{'content-type':'application/json'},
                body:JSON.stringify(formData)
            });
            alert(httpStatusMsg[resp.status]);
            if(resp.status===201){
                await loadSalary();
            }
        });

        const loadSalary=async ()=>{
            const URL=`/salary/${NO}/read.do`;
            const resp=await fetch(URL);
            if (resp.status===200){
                const data=await resp.json();
                salaryTableContainer.classList.remove('disabled');
                let html=``;
                for(let sal of data){
                    html+=`<tr>
                            <td>${sal.empNo}</td>
                            <td>${sal.salary}</td>
                            <td>${sal.fromDate}</td>
                            <td>${sal.toDate}</td>
                            <td>
                                <button onclick="modifySalary(${sal.empNo},'${sal.fromDate}');">수정</button>
                            </td>
                            <td>
                                <button onclick="removeSalary(${sal.empNo},'${sal.fromDate}');">삭제</button>
                            </td>
                           </tr>`;
                    // const btn=document.createElement('button');
                    // btn.onclick=()=>{modifySalary(sal.empNo,sal.fromDate);}
                }
                salaryTbody.innerHTML=html;
            }
            alert(httpStatusMsg[resp.status]);
        }
        loadSalaryBtn.onclick=loadSalary;
        const modifySalary=async (empNo,fromDate)=>{
            const URL=`/salary/${empNo}/${fromDate}/read.do`; //상세조회
            const resp=await fetch(URL);
            if(resp.status===200){
                const data=await resp.json();

                let html=`
                    <h3>급여 수정 양식</h3>
                    <form name="modifySalaryForm" onsubmit="modifySalaryFormHandler(event)">
                        <p><label>사원번호<input name="empNo" value="${data.empNo}" type="text" readonly></label></p>
                        <p><label>fromDate<input name="fromDate" value="${data.fromDate}" type="text" readonly></label></p>
                        <p><label>toDate<input name="toDate" value="${data.toDate}" type="date"></label></p>
                        <p><label>급여<input name="salary" value="${data.salary}" type="number"></label></p>
                        <p>
                            <button type="reset">초기화</button>
                            <button type="submit">수정</button>
                        </p>
                    </form>
                `;
                salaryModifyContainer.innerHTML=html;
            }
            alert(httpStatusMsg[resp.status]);
        };
        const modifySalaryFormHandler=async (e)=>{
            e.preventDefault();
            const form=e.target;
            const formData=new FormData(form);
            const formDataObj=Object.fromEntries(formData.entries());
            console.log(formDataObj);
            const URL="/salary/action.do";
            const resp=await fetch(URL,{
                method:"PUT",
                headers:{"Content-Type":"application/json"},
                body: JSON.stringify(formDataObj)
            });
            alert(httpStatusMsg[resp.status]);
            if(resp.status===204 || resp.status===404){
                //수정성공하거나 수정할 리소스가 없으면 리스트 새로고침 및 수정양식 삭제
                salaryModifyContainer.innerHTML="";
                await loadSalary();
            }
        }



        const removeSalary=async (empNo,fromDate)=>{
            const URL="/salary/action.do";
            const obj={
                "empNo":empNo,
                "fromDate":fromDate,
            }
            const resp=await fetch(URL,{
                method:"DELETE",
                headers:{"Content-Type":"application/json"},
                body:JSON.stringify(obj)
            })
            alert(httpStatusMsg[resp.status]);
            if(resp.status===202 || resp.status===404){
                await loadSalary();
            }
        }




        //modifySalaryForm 은 비동기식으로 나중에 로딩되기 때문에 onsubmit 이 정의 되지 않은 html이 로딩된다.
        // modifySalaryForm.onsubmit = async (e)=>{
        //     e.preventDefault();
        // }


    </script>


    <div>
        <h2>부서이동내역
            <button id="loadDeptBtn">불러오기</button>
            <button id="showDeptRegisterBtn">부서 등록 폼 보기</button>
        </h2>
        <hr>
        <h3>부서 등록 폼</h3>
        <form id="deptRegister" class="disabled" action="/dept/deptEmp.do" method="post">
            <p><label>사원번호<input name="empNo" th:value="${emp.id}" type="text" readonly></label></p>
            <p><label>부서번호<input name="deptNo" value="d00" type="text"></label></p>
            <p><label>from-date<input name="fromDate" value="2024-01-01" type="date"></label></p>
            <p><label>to-date<input name="toDate" value="2025-01-01" type="date"></label></p>
            <p><button type="reset">초기화</button>  <button type="submit">등록</button></p>
        </form>
        <hr>
        <h3>부서 수정 폼</h3>
        <form id="deptModify" class="disabled" action="/dept/deptEmp.do" method="put">
            <p><label>사원번호<input name="empNo"  type="text" readonly></label></p>
            <p><label>부서번호<input name="deptNo"  type="text" readonly></label></p>
            <p><label>부서이름<input name="dept.deptName"  type="text" readonly></label></p>
            <p><label>from-date<input name="fromDate"  type="date"></label></p>
            <p><label>to-date<input name="toDate"  type="date"></label></p>
            <p><button type="reset">초기화</button>  <button type="submit">수정</button></p>
        </form>

        <div>
            <table>
                <thead>
                    <tr>
                        <th>사원 id</th>
                        <th>부서 번호</th>
                        <th>부서 이름</th>
                        <th>from date</th>
                        <th>to date</th>
                        <th>수정</th>
                        <th>삭제</th>
                    </tr>
                </thead>
                <tbody id="deptTbody"></tbody>
            </table>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
    <script>
        const EMP_NO=[[${emp.id}]]
        const loadDeptBtn=document.getElementById("loadDeptBtn");
        const deptTbody=document.getElementById("deptTbody");
        const deptRegister=document.getElementById("deptRegister"); //form
        const deptModify=document.getElementById("deptModify");
        const showDeptRegisterBtn=document.getElementById("showDeptRegisterBtn");


        showDeptRegisterBtn.addEventListener("click",()=>{
            deptRegister.classList.toggle("disabled");
        });

        deptRegister.addEventListener("submit",async (e)=>{
            e.preventDefault(); //서비밋 입벤트 막기
            const formData=new FormData(deptRegister); //FormData  form 의 input 데이터를 한꺼번에 처리
            //Map(key-value) -> [key, value] (entry data) {id:"경민",age:39}=? ["id","경민"] ["age",39]
            // for(let input of formData.entries()){
            //     console.log(input);
            // }
            const formDataObj=Object.fromEntries(formData.entries());
            //Object.fromEntries : entry 데이터로 Object 생성
            console.log(formDataObj);
            console.log(JSON.stringify(formDataObj));
            //body : 요청 정보를 포함하는 해더의 본문
            //headers : 요청 정보에 대한 정보(meta data)
            /*
            * {empNo: '11', deptNo: 'd00', fromDate: '2024-01-01', toDate: '2025-01-01'} :
            * Object 의 리터럴 표기법
            * {"empNo":"11","deptNo":"d00","fromDate":"2024-01-01","toDate":"2025-01-01"} :
            * JSON : Object 문자열 명세 (NaN,함수가 포함되지 않음,key 와 문자열은 ""로 표시)
            */
            const response=await fetch("/dept/deptEmp.do",{
                method:"POST",
                body:JSON.stringify(formDataObj),
                headers :{ "Content-type" : "application/json"},
            });
            if(response.status===201){
                await loadDept();
            }
            alert(httpStatusMsg[response.status]);

        });


        //function loadDept() {}
        const loadDept=async function (){
            //deptEmp
            let url =`/dept/${EMP_NO}/readEmp.do`;
            let response=await fetch(url); //비동기 함수
            let data=await response.json();
            console.log(data);
            let html="";
            for(let deptEmp of data){
                html+=`<tr>
                           <td>${deptEmp.empNo}</td>
                           <td>${deptEmp.deptNo}</td>
                           <td>${deptEmp.dept.deptName}</td>
                           <td>${deptEmp.fromDate}</td>
                           <td>${deptEmp.toDate}</td>
                           <td><button onclick="deptEmpModifyHandler(event,${deptEmp.empNo},'${deptEmp.deptNo}')">수정</button></td>
                           <td><button onclick="deptEmpRemoveHandler(event,${deptEmp.empNo},'${deptEmp.deptNo}')" >삭제</button></td>
                        </tr>`;
            }
            deptTbody.innerHTML=html;

        };
        //loadDeptBtn.onclick=loadDept;
        loadDeptBtn.addEventListener("click",loadDept);
        //1. btn.onclick=deptEmpRemoveHandler; //btn의 클릭을 콜백함수로 바꾸겠다.
        //2. btn.onclick=(event)=>{
        //     deptEmpRemoveHandler(event);
        // }//btn의 클릭을 화살표함수로 바꿀건데 내부적으로 콜백함수를 실행한다.

        const deptEmpRemoveHandler=async (e,empNo,deptNo)=>{
            const deptEmpId={
                empNo:empNo,
                deptNo:deptNo
            }
            let deptEmpIdJson=JSON.stringify(deptEmpId);
            const resp=await fetch("/dept/deptEmp.do",{
                method:"DELETE",
                headers:{"Content-Type":"application/json"},
                body:deptEmpIdJson
            });
            if(resp.status===202){
                await loadDept()
            }
            alert(httpStatusMsg[resp.status]);
        }
        const deptEmpModifyHandler=async (e,empNo,deptNo)=>{
            const URL=`/dept/${empNo}/${deptNo}/deptEmp.do`;
            const response=await fetch(URL);
            if(response.status===200){
                deptModify.classList.remove("disabled");
                const data=await response.json();
                console.log(data);
                //form 내부의 input은 form의 필드처럼 name 속성으로 참조 가능
                deptModify.empNo.value=data.empNo;
                deptModify.deptNo.value=data.deptNo;
                deptModify.fromDate.value=data.fromDate;
                deptModify.toDate.value=data.toDate;
                deptModify['dept.deptName'].value=data.dept.deptName;
            }else if (response.status===404){
                await loadDept();
            }
            alert(httpStatusMsg[response.status]);
        }

        deptModify.addEventListener("submit",async (e)=>{
            e.preventDefault();
            const URL="/dept/deptEmp.do";
            const formData=new FormData(deptModify);
            const data=Object.fromEntries(formData.entries());
            //자식 필드에 값을 파싱하고 싶을때
            // data.dept={
            //     deptName: data['dept.deptName'],
            //     deptNo: data.deptNo
            // };
            const dataJson=JSON.stringify(data);
            console.log(dataJson);
            const resp=await fetch(URL,{
                method:"PUT",
                body:dataJson,
                headers:{"Content-Type":"application/json"},
            });
            if(resp.status===204 || resp.status===404){
                deptModify.classList.add("disabled");
                deptModify.reset();
                await loadDept();
            }
            alert(httpStatusMsg[resp.status]);
        });

    </script>
</body>
</html>